$montserrat-bold: 'Montserrat-Bold';
$montserrat-medium: 'Montserrat-Medium';
$montserrat:'Montserrat';
$semiBold:'Montserrat-SemiBold';
$black:'Montserrat-Black';
$italic:'Montserrat-Italic';
$light:'Montserrat-Light';
$boli:'Boli';
$yellow : #ECC308;
$white:#fff;
$blue:#133260;
$shadow:#00000029;
$phone-shadow:var(--shadow);
$blue-border:#274DAD;
$light-blue:#28C2FF;
$dark-blue:#142757;
$title-blue: #1C4569;
$off-white:#F9F9F9;
$light-text:var(--light-text);
$card-text:#707070;
$dark-text:#2F353A;
$icon-blue:#A4E5FF;
$footer-blue:var(--footer-bg);
$title-dark: #160C28;
$join-us: var(--join-us);
$help-bg:#28C2FF24;
$help-text:var(--help-text);
$client-title:var(--client-title);
$title-border:#C2C0C0;
$tab-title:var(--tab-title);
$tab-body:var(--tab-body);
$about-title:var(--about-title);
$link:var(--link);
$dot:var(--dot);
$card:var(--card);
$see:var(--see);
$footer-line:var(--footer-line);
$theme:var(--theme);
$knob:var(--knob);
$android:var(--android);
$menu: var(--menu);

%section-title {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 50px;
    font-family: $montserrat-bold;
    font-size: 30px;
    color: var(--title);
}
%slant-heading{
    font-family: $montserrat-bold;
    font-size: 1.2rem;
    color: #1B4E71;
}
%slant-paragraph{
    width: 70%;
    margin-top: 10px;
    font-family: $montserrat-medium;
    font-size: 0.86rem;
    color: $light-text;
}
%transition3{
    transition: all 0.3s linear;
}
@media(max-width:767px){
    %section-title{
        font-size: 25px;
    }
}
@keyframes arrows{
    0%{
        transform: translateY(-3px) rotate(45deg);
    }
    50%{
        transform: translateY(0px) rotate(45deg);
    }
    100%{
        transform: translateY(3px) rotate(45deg);
    }
}