@import "variables";
.about-us{
    width:100%;
    height: 100vh;
    position: relative;
    &::after{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: -1;
        background: transparent linear-gradient(15deg, $light-blue 0%, $dark-blue 100%);
        clip-path:polygon(30% 0, 100% 0%, 100% 52%, 99% 53%, 97% 54%, 96% 54%, 94% 53%, 92% 51%, 88% 44%, 86% 39%, 83% 32%, 82% 30%, 79% 26%, 76% 24%, 74% 23%, 71% 22%, 64% 21%, 62% 20%, 61% 19%, 59.7% 18%, 57% 17%, 54% 18%, 48% 18%, 52% 18%, 50% 17%, 44% 12%, 44% 12%, 42% 10%, 40% 9%, 38% 8%, 36% 7%, 42% 10%, 35% 5%, 37% 7%, 36% 6%, 32% 3%, 38% 7%, 25% 0%, 29% 0%)
    }
    .about-us-inner{
        padding-top: 150px;
        width: 75%;
        margin: 0 auto;
        h3{
            text-align: center;
            font-family: $montserrat-bold;
            font-size: 1.8rem;
            color:$about-title;
            margin: 35px 0;
        }
        .about-text{
            p{
                font-family: $italic;
                font-size: 0.9rem;
                color:$light-text;
                margin: 28px 0 15px;
                width: 84%;
            }
            h4{
                font-family: $montserrat-bold;
                color: $light-text;
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
            .seeus{
                margin-left: 90px;
                small{
                    font-family: $montserrat;
                    color: $light-text;
                    font-size: 0.96rem; 
                    font-weight: 600;
                    text-align: center;
                }
                .arrows{
                    display: grid;
                    width: 60px;
                    justify-content: center;
                    justify-items: center;
                    align-content: center;
                    margin-left: -3px;
                    span{
                        width: 40px;
                        height: 40px;
                        transform: rotate(45deg);
                        border-width: 3px;
                        border-style: solid;
                        border-color: #EBEBEB;
                        display: block;
                        border-top: none;
                        border-left: none;
                        @extend %transition3;
                        &:first-child{
                            margin-top: -10px;
                        }
                        &:nth-child(2){
                            margin-top: -20px;
                            border-color:  #D9D9D9;
                        }
                        &:last-child{
                            width: 50px;
                            height: 50px;
                            margin-top: -30px;
                            border-color: #BEBDBD;
                            animation: arrows 0.9s linear infinite;
                        }
                    }
                }
            }
        }
        .about-us-content{
            display: grid;
            grid-template-columns: 40% 60%;
            .image{
                width: 100%;
                min-height: 300px;
                background: url(../images/about.png) no-repeat center center/cover;
                position: relative;
                
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $off-white;
                    z-index: -1;
                }
                span{
                    height: 60px;
                    width: 100px;
                    border-radius: 60px;
                    transform: rotate(-45deg);
                    background: black   ;
                    display:block;
                    
                    position: absolute;
                    &:first-child{
                        width: 116px;
                        height: 37px;
                        top: 15%;
                        left: 16%;
                    }
                    &:nth-child(2){
                        width: 230px;
                        height: 65px;
                        top: 28%;
                        left: 9%;
                    }
                    &:nth-child(3){
                        width: 167px;
                        height: 62px;
                        top: 46%;
                        left: 35%;
                    }
                    &:nth-child(4){
                        width: 114px;
                        height: 37px;
                        top: 64%;
                        left: 56%;
                    }
                }

            }
        }
    }
}
.team{
    width:50%;
    margin: 0 auto;
    margin-top: 40px;
    h3,h5{
        @extend %section-title;
        color: $title-dark;
        margin-bottom: 20px;
    }
    h5{
        font-size: 0.9rem;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .team-gallery{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,33.33% [col-start]);
        margin-bottom: 200px;
        box-shadow: 0px 0px 25px $shadow;
        background: $white;
    }
}
@media(max-width:767px){
    .about-us{
        height: auto;
        .about-us-inner{
            .about-us-content{
                display: block;
            }
            .about-text{
                a{
                    display: flex;
                    justify-content: center;
                    .seeus{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .team{
        width: 80%;
        .team-gallery{
            grid-template-columns: repeat(2, 50% [col-start]);
        }
    }
}