@import "variables";
.apple-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: 25px;
    p{
        color: $title-dark;
        font-family: $montserrat-medium;
        font-size: 15px;
    }
    svg{
        width: 18px;
        margin-right: 6px;
    }
}
@media(max-width:360px){
    .apple-container{
        p{
            font-size: 0.68rem;
        }
    }
}