@import "variables";
.theme-mode{
    width: 44px;
    height: 22px;
    border-radius: 44px;
    background: $white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    .theme-button{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: $blue;
        box-shadow: 0px 0px 8px $shadow;
        border: 1px solid $blue-border;
    }
}
@media(max-width:767px){
    .theme-mode{
        cursor: default;
    }
}