.team h3, .team h5 {
  text-align: center;
  padding-top: 70px;
  margin-bottom: 50px;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: var(--title);
}

.about-us .about-us-inner .about-text .seeus .arrows span {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.about-us {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about-us::after {
  width: 75%;
  height: 62%;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  z-index: -1;
  background: url(../images/aboutcurve.svg) no-repeat center bottom/cover;
}

.about-us .about-us-inner {
  padding-top: 150px;
  width: 75%;
  margin: 0 auto;
}

.about-us .about-us-inner h3 {
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 1.8rem;
  color: var(--about-title);
  margin: 35px 0;
}

.about-us .about-us-inner .about-text {
  position: relative;
}

.about-us .about-us-inner .about-text p {
  font-family: "Montserrat-Italic";
  font-size: 0.9rem;
  color: var(--light-text);
  margin: 28px 0 15px;
  width: 84%;
}

.about-us .about-us-inner .about-text h4 {
  font-family: "Montserrat-Bold";
  color: var(--light-text);
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.about-us .about-us-inner .about-text .icons {
  width: 160px;
  height: 160px;
  position: absolute;
  right: -8%;
  bottom: -46px;
  background: url(../images/about.svg) no-repeat center left/cover;
}

.about-us .about-us-inner .about-text .seeus {
  margin-left: 90px;
}

.about-us .about-us-inner .about-text .seeus small {
  font-family: "Montserrat";
  color: var(--see);
  font-size: 0.96rem;
  font-weight: 600;
  text-align: center;
}

.about-us .about-us-inner .about-text .seeus .arrows {
  display: -ms-grid;
  display: grid;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: -3px;
}

.about-us .about-us-inner .about-text .seeus .arrows span {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 3px;
  border-style: solid;
  border-color: #EBEBEB;
  display: block;
  border-top: none;
  border-left: none;
}

.about-us .about-us-inner .about-text .seeus .arrows span:first-child {
  margin-top: -10px;
}

.about-us .about-us-inner .about-text .seeus .arrows span:nth-child(2) {
  margin-top: -20px;
  border-color: #D9D9D9;
}

.about-us .about-us-inner .about-text .seeus .arrows span:last-child {
  width: 50px;
  height: 50px;
  margin-top: -30px;
  border-color: #BEBDBD;
  -webkit-animation: arrows 0.9s linear infinite;
          animation: arrows 0.9s linear infinite;
}

.about-us .about-us-inner .about-us-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.about-us .about-us-inner .about-us-content .image {
  width: 100%;
  min-height: 300px;
  background: url(../images/about.png) no-repeat center center/cover;
  position: relative;
}

.about-us .about-us-inner .about-us-content .image::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #F9F9F9;
  z-index: -1;
}

.about-us .about-us-inner .about-us-content .image span {
  height: 60px;
  width: 100px;
  border-radius: 60px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: black;
  display: block;
  position: absolute;
}

.about-us .about-us-inner .about-us-content .image span:first-child {
  width: 116px;
  height: 37px;
  top: 15%;
  left: 16%;
}

.about-us .about-us-inner .about-us-content .image span:nth-child(2) {
  width: 230px;
  height: 65px;
  top: 28%;
  left: 9%;
}

.about-us .about-us-inner .about-us-content .image span:nth-child(3) {
  width: 167px;
  height: 62px;
  top: 46%;
  left: 35%;
}

.about-us .about-us-inner .about-us-content .image span:nth-child(4) {
  width: 114px;
  height: 37px;
  top: 64%;
  left: 56%;
}

.team {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.team h3, .team h5 {
  color: var(--join-us);
  margin-bottom: 20px;
}

.team h5 {
  font-size: 0.9rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
}

.team .team-gallery {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (33.33% [col-start])[3];
      grid-template-columns: repeat(3, 33.33% [col-start]);
  margin-bottom: 200px;
  -webkit-box-shadow: 0px 0px 25px #00000029;
          box-shadow: 0px 0px 25px #00000029;
  background: #fff;
}

@media (max-width: 1025px) {
  .about-us::after {
    z-index: -1;
    background: transparent linear-gradient(15deg, #28C2FF 0%, #142757 100%);
    -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 52%, 99% 53%, 97% 54%, 96% 54%, 94% 53%, 92% 51%, 88% 44%, 86% 39%, 83% 32%, 82% 30%, 79% 26%, 76% 24%, 74% 23%, 71% 22%, 64% 21%, 62% 20%, 61% 19%, 59.7% 18%, 57% 17%, 54% 18%, 48% 18%, 52% 18%, 50% 17%, 44% 12%, 44% 12%, 42% 10%, 40% 9%, 38% 8%, 36% 7%, 42% 10%, 35% 5%, 37% 7%, 36% 6%, 32% 3%, 38% 7%, 25% 0%, 29% 0%);
            clip-path: polygon(30% 0, 100% 0%, 100% 52%, 99% 53%, 97% 54%, 96% 54%, 94% 53%, 92% 51%, 88% 44%, 86% 39%, 83% 32%, 82% 30%, 79% 26%, 76% 24%, 74% 23%, 71% 22%, 64% 21%, 62% 20%, 61% 19%, 59.7% 18%, 57% 17%, 54% 18%, 48% 18%, 52% 18%, 50% 17%, 44% 12%, 44% 12%, 42% 10%, 40% 9%, 38% 8%, 36% 7%, 42% 10%, 35% 5%, 37% 7%, 36% 6%, 32% 3%, 38% 7%, 25% 0%, 29% 0%);
  }
}

@media (max-width: 767px) {
  .about-us {
    height: auto;
  }
  .about-us .about-us-inner .about-us-content {
    display: block;
  }
  .about-us .about-us-inner .about-text a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .about-us-inner .about-text a .seeus {
    margin: 0 auto;
  }
  .team {
    width: 80%;
  }
  .team .team-gallery {
    -ms-grid-columns: (50% [col-start])[2];
        grid-template-columns: repeat(2, 50% [col-start]);
  }
}
