.about .inner-about h3, .about .how-it-works h3 {
  text-align: center;
  padding-top: 70px;
  margin-bottom: 50px;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: var(--title);
}

.about .how-it-works .content .cal-text h5, .about .content-slant .col:last-child div h5, .about .slant-2 .col:first-child div h5, .about .provider .col h5, .about .owner .col h5, .about .customers .col h5 {
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
  color: #1B4E71;
}

.about .how-it-works .content .cal-text p, .about .content-slant .col:last-child div p, .about .slant-2 .col:first-child div p, .about .provider .col p, .about .owner .col p, .about .customers .col p {
  width: 70%;
  margin-top: 10px;
  font-family: "Montserrat-Medium";
  font-size: 0.86rem;
  color: var(--light-text);
}

@media (max-width: 767px) {
  .about .inner-about h3, .about .how-it-works h3 {
    font-size: 25px;
  }
}

@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.about .about-row {
  margin: 0 auto;
  width: 70%;
}

.about .inner-about {
  width: 70%;
  margin: 0 auto;
}

.about .inner-about .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30% [col-start])[3];
      grid-template-columns: repeat(3, 30% [col-start]);
  grid-column-gap: 5%;
}

.about .app-how {
  display: none;
}

.about .how-it-works {
  width: 75%;
  margin: 0 auto;
}

.about .how-it-works h3 {
  margin: 80px 0 100px 0;
}

.about .how-it-works .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
}

.about .how-it-works .content .cal-text {
  border: 7px solid #28C2FF;
  position: relative;
  padding: 40px 20px;
}

.about .how-it-works .content .cal-text .content-img {
  position: absolute;
  top: -50px;
  right: -90px;
}

.about .how-it-works .content .cal-text .content-img img {
  width: 170px;
  height: 335px;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.about .how-it-works .content .hor-grid {
  z-index: 10;
  margin-left: 30%;
}

.about .how-it-works .content .hor-grid .hor-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10px [col-start])[8];
      grid-template-columns: repeat(8, 10px [col-start]);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.about .content-slant {
  margin-top: 200px;
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 43% 50%;
      grid-template-columns: 43% 50%;
  grid-column-gap: 7%;
}

.about .content-slant .col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about .content-slant .col:first-child .circle {
  width: 230px;
  height: 230px;
  border: 25px solid #ECC308;
  border-radius: 50%;
}

.about .content-slant .col:first-child .circle img {
  width: 190px;
  margin-top: -118px;
  margin-left: 18px;
  height: 450px;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.about .content-slant .col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content-slant .col:last-child div {
  width: 80%;
  position: relative;
}

.about .content-slant .col:last-child div .ribbon {
  height: 65px;
  width: 210px;
  position: absolute;
  top: -50px;
  left: 70px;
}

.about .content-slant .col:last-child div .ribbon svg {
  width: 100%;
  height: 100%;
}

.about .slant-2 {
  width: 100%;
  height: 750px;
  padding: 80px 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 43% 50%;
      grid-template-columns: 43% 50%;
  grid-column-gap: 7%;
}

.about .slant-2::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--calendar-slide);
  -webkit-clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 77%);
          clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 77%);
}

.about .slant-2 .col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30%;
}

.about .slant-2 .col:first-child div p a {
  color: var(--link);
}

.about .provider {
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% 47%;
      grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .provider .col:first-child {
  position: relative;
}

.about .provider .col:first-child::before {
  height: 250px;
  width: 250px;
  background: #25598A;
  position: absolute;
  content: "";
  left: -80px;
  top: 28px;
  border-radius: 60px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: -1;
}

.about .provider .col:first-child::after {
  height: 190px;
  width: 190px;
  background: #fff;
  position: absolute;
  content: "";
  left: -50px;
  top: 57px;
  border-radius: 50%;
  z-index: -1;
}

.about .provider .col img {
  width: 210px;
  height: 450px;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.about .owner {
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .owner .col:last-child {
  position: relative;
}

.about .owner .col:last-child::after {
  position: absolute;
  left: -51px;
  bottom: -84px;
  content: "";
  width: 90%;
  height: 80%;
  z-index: -1;
  background: url(../images/owner.svg) no-repeat left bottom/cover;
}

.about .owner .col img {
  width: 210px;
  height: 450px;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.about .customers {
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .customers .col:first-child {
  position: relative;
}

.about .customers .col:first-child::before {
  height: 160px;
  width: 160px;
  position: absolute;
  content: "";
  left: -75px;
  top: -53px;
  background: url(../images/triangle.svg) no-repeat center left/cover;
  z-index: -1;
}

.about .customers .col:first-child::after {
  height: 160px;
  width: 160px;
  background: #25598A;
  position: absolute;
  content: "";
  left: 130px;
  bottom: -35px;
  border-radius: 16px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: -1;
}

.about .customers .col img {
  width: 200px;
  height: 400px;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.about .slant-3 {
  width: 100%;
  min-height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .slant-3::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 26%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 26%, 100% 100%, 0% 100%);
  background: var(--client);
}

.about .slant-3 .slant-3-inner {
  z-index: 2;
  padding-top: 190px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.about .slant-3 .slant-3-inner .dot-right, .about .slant-3 .slant-3-inner .dot-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10px [col-start])[4];
      grid-template-columns: repeat(4, 10px [col-start]);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  position: absolute;
}

.about .slant-3 .slant-3-inner .dot-right .dot, .about .slant-3 .slant-3-inner .dot-left .dot {
  background: var(--dot);
}

.about .slant-3 .slant-3-inner .dot-right {
  right: 11%;
  top: 30%;
}

.about .slant-3 .slant-3-inner .dot-right .dot {
  background: var(--dot);
  opacity: 0.3;
}

.about .slant-3 .slant-3-inner .dot-left {
  bottom: -91px;
}

.about .slant-3 .slant-3-inner h3 {
  text-align: center;
  padding-top: 70px;
  margin-bottom: 120px;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: var(--client-title);
}

.about .slant-3 .slant-3-inner .item-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.about .slant-3 .slant-3-inner .item-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about .slant-3 .slant-3-inner .item-content p {
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat-Italic";
  color: var(--light-text);
  position: relative;
  padding: 0 40px;
}

.about .slant-3 .slant-3-inner .item-content p span {
  font-size: 100px;
  font-family: "Boli";
  position: absolute;
  color: var(--join-us);
}

.about .slant-3 .slant-3-inner .item-content p span#left-q {
  top: -41px;
  left: 0px;
}

.about .slant-3 .slant-3-inner .item-content p span#right-q {
  bottom: -100px;
}

.about .slant-3 .slant-3-inner .item-content small {
  font-size: 18px;
  color: var(--light-text);
  display: block;
  font-family: "Montserrat-Medium";
}

.about .join-us {
  margin-top: 70px;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .join-us .join-us-inner {
  width: 40%;
  margin: 0 auto;
}

.about .join-us .join-us-inner .app-store {
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}

.about .join-us .join-us-inner .app-store .apple {
  border: 1px solid #160C28;
  border-radius: 25px;
}

@media (max-width: 986px) {
  .about .app-how {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 190px;
  }
  .about .app-how h3 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: var(--title);
  }
  .about .app-how .register h3, .about .app-how .subscription h3 {
    font-size: 19px;
  }
  .about .app-how .register p, .about .app-how .subscription p {
    color: #5687AC;
    font-size: 0.89rem;
    font-weight: 500;
    margin: 20px 0;
  }
  .about .app-how .register img, .about .app-how .subscription img {
    width: 100%;
    margin: 20px 0;
  }
  .about .slant-2 .col:last-child .slide-image {
    height: 200px;
  }
}

@media (width: 1024px) {
  .about .owner .col:last-child::after {
    width: 116%;
  }
}

@media (width: 768px) {
  .about .owner .col:last-child::after {
    width: 155%;
  }
}

@media (max-width: 767px) {
  .about .about-row {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-row .col {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-row .col h5, .about .about-row .col p {
    margin: 10px auto;
    width: 86%;
  }
  .about .inner-about {
    width: 90%;
  }
  .about .inner-about .row {
    -ms-grid-columns: (calc(100%/11))[11];
        grid-template-columns: repeat(11, calc(100%/11));
    grid-column-gap: 0;
    grid-row-gap: 50px;
  }
  .about .inner-about .row .card:first-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
  }
  .about .inner-about .row .card:nth-child(2) {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 12;
  }
  .about .inner-about .row .card:nth-child(3) {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 9;
  }
  .about .how-it-works h3 {
    margin-bottom: 60px;
    padding-top: 0;
  }
  .about .how-it-works .content {
    display: block;
  }
  .about .how-it-works .content .cal-text {
    border: none;
    padding: 0;
  }
  .about .how-it-works .content .cal-text .content-img {
    left: 34px;
    top: 130px;
    right: 0;
    z-index: -1;
  }
  .about .how-it-works .content .cal-text .content-img img {
    width: 140px;
    height: 286px;
  }
  .about .how-it-works .content .cal-text .inner p {
    font-size: 0.7rem;
    width: 100%;
  }
  .about .how-it-works .content .hor-grid {
    margin-top: 100px;
    margin-left: 50%;
  }
  .about .how-it-works .content .hor-grid .hor-row {
    -ms-grid-columns: (9px [col-start])[8];
        grid-template-columns: repeat(8, 9px [col-start]);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }
  .about .content-slant {
    padding-top: 296px;
    margin-top: 90px;
    display: block;
    height: auto;
    position: relative;
  }
  .about .content-slant::after {
    -webkit-clip-path: none;
            clip-path: none;
    background: none;
  }
  .about .content-slant .col .ribbon {
    display: none;
  }
  .about .content-slant .col:first-child {
    position: relative;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .content-slant .col:first-child .circle {
    width: 170px;
    height: 170px;
    border-width: 17px;
  }
  .about .content-slant .col:first-child .circle img {
    width: 149px;
    margin-top: -54px;
    margin-left: 9px;
    height: 279px;
  }
  .about .content-slant .col:last-child {
    position: absolute;
    top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px;
  }
  .about .content-slant .col:last-child div p {
    width: 100%;
    font-size: 0.78rem;
  }
  .about .provider {
    display: block;
    position: relative;
  }
  .about .provider .col:first-child {
    margin-top: 150px;
  }
  .about .provider .col:first-child::after {
    height: 170px;
    width: 170px;
    left: 52px;
  }
  .about .provider .col:first-child::before {
    height: 220px;
    width: 220px;
    left: 22px;
    top: 33px;
    border-radius: 50%;
  }
  .about .provider .col:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .provider .col img {
    width: 180px;
    height: 375px;
  }
  .about .owner {
    display: block;
  }
  .about .owner .col:last-child::after {
    left: 0px;
    bottom: -80px;
    width: 100%;
    height: 70%;
  }
  .about .customers {
    display: block;
    margin-top: 130px;
    position: relative;
  }
  .about .customers .col:first-child {
    margin-top: 210px;
  }
  .about .customers .col:first-child::after {
    left: 180px;
    border-radius: 30px;
    height: 154px;
    width: 154px;
  }
  .about .customers .col:first-child::before {
    height: 100px;
    width: 100px;
    left: 50px;
    top: 0;
    border-radius: 50%;
    background: #28C2FF;
  }
  .about .customers .col:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .slant-2 {
    display: block;
    margin-top: 78px;
    height: auto;
  }
  .about .slant-2::after {
    -webkit-clip-path: none;
            clip-path: none;
    background: none;
  }
  .about .slant-2 .col:first-child {
    margin-left: 0;
  }
  .about .slant-2 .col:first-child div {
    width: 80%;
    margin: 0 auto;
  }
  .about .slant-2 .col:first-child div p {
    width: 100%;
    font-size: 0.78rem;
  }
  .about .slant-3 {
    min-height: auto;
    margin-top: 200px;
  }
  .about .slant-3::after {
    -webkit-clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0% 100%);
  }
  .about .slant-3 .slant-3-inner {
    padding-top: 0;
    width: 95%;
  }
  .about .slant-3 .slant-3-inner h3 {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .about .slant-3 .slant-3-inner .item-image {
    width: 108px;
    height: 108px;
  }
  .about .slant-3 .slant-3-inner .dot-right {
    top: 19%;
    right: 8%;
    -ms-grid-columns: (9px [col-start])[4];
        grid-template-columns: repeat(4, 9px [col-start]);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }
  .about .slant-3 .slant-3-inner .dot-left {
    bottom: -105px;
    left: 30px;
    -ms-grid-columns: (9px [col-start])[4];
        grid-template-columns: repeat(4, 9px [col-start]);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }
  .about .slant-3 .slant-3-inner .item-content {
    margin-top: 15px;
  }
  .about .slant-3 .slant-3-inner .item-content p {
    font-size: 13px;
  }
  .about .slant-3 .slant-3-inner .item-content p span {
    font-size: 80px;
  }
  .about .slant-3 .slant-3-inner .item-content p span#left-q {
    left: -10px;
  }
  .about .slant-3 .slant-3-inner .item-content p span#right-q {
    bottom: -100px;
  }
  .about .join-us .join-us-inner {
    width: 93%;
  }
  .about .join-us .join-us-inner .app-store {
    width: 100%;
  }
}

@media (min-width: 411px) and (max-width: 414px) {
  .about .provider .col:first-child::before {
    left: 46px;
  }
  .about .provider .col:first-child::after {
    left: 80px;
  }
  .about .owner .col:last-child::after {
    width: 83%;
    height: 62%;
    left: 48px;
  }
  .about .customers .col:first-child::after {
    left: 229px;
  }
  .about .customers .col:first-child::before {
    left: 74px;
  }
}

@media (max-width: 320px) {
  .about .owner .col:last-child::after {
    width: 94%;
    height: 62%;
  }
  .about .customers .col:first-child::after {
    left: 138px;
  }
}

@media (orientation: landscape) and (width: 812px) {
  .about .inner-about {
    width: 90%;
  }
  .about .owner .col:last-child::after {
    width: 151%;
  }
}

@media (orientation: landscape) and (max-width: 767px) {
  .about .how-it-works .content .hor-grid {
    margin-left: 33%;
  }
  .about .provider .col:first-child::before {
    left: 123px;
  }
  .about .provider .col:first-child::after {
    left: 151px;
  }
  .about .owner .col:last-child::after {
    width: 60%;
    left: 136px;
  }
  .about .customers .col:first-child::after {
    left: 317px;
  }
  .about .customers .col:first-child::before {
    left: 165px;
  }
}
