@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.home {
  width: 100%;
  min-height: 108vh;
  position: relative;
}

.home::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/home.svg) no-repeat center bottom/cover;
}

.home .home-inner {
  width: 65%;
  padding-top: 100px;
  height: auto;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  grid-column-gap: 20%;
}

.home .home-inner .home-text {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home .home-inner .home-text .text h5 {
  font-family: "Montserrat-Medium";
  font-size: 22px;
  color: #fff;
  font-weight: 100;
}

.home .home-inner .home-text .text h4 {
  font-family: "Montserrat-Bold";
  font-size: 2.7rem;
  color: #fff;
}

.home .home-inner .home-text .text h6 {
  margin-top: 20px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.home .home-inner .home-text .home-icons {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 6fr 6fr;
  grid-column-gap: 20px;
}

.home .home-inner .home-text .home-icons .apples {
  border-radius: 25px;
  background: #fff;
}

.home .home-inner .home-image img {
  width: 220px;
  height: 450px;
}

@media (max-width: 767px) {
  .home {
    min-height: 100vh;
  }
  .home::before {
    background: url(../images/home.svg) no-repeat right bottom/cover;
    height: 64%;
  }
  .home .home-inner {
    display: block;
    width: 86%;
    padding-top: 150px;
  }
  .home .home-inner .home-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home-inner .home-image img {
    margin-top: 100px;
    width: 174px;
    height: 346px;
    -webkit-box-shadow: 31px 8px 23px var(--shadow);
            box-shadow: 31px 8px 23px var(--shadow);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    height: 700px;
  }
  .home .home-inner {
    -ms-grid-columns: 50% 45%;
        grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
    width: 80%;
  }
}

@media (orientation: landscape) and (max-width: 767px) {
  .home {
    height: 803px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1366px) {
  .home {
    height: 108vh;
  }
}
