@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.container .item {
  width: 200px;
}

.container img {
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 31px 8px 23px var(--shadow);
          box-shadow: 31px 8px 23px var(--shadow);
}

.container .item.actives {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  border: 5px solid #ECC308;
  padding: 30px 10px;
  margin-top: -5px;
}

@media (max-width: 767px) {
  .container {
    padding-top: 86px;
    height: auto;
    width: 52%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container img {
    height: 300px;
  }
  .container .item.actives {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
    padding: 16px 8px;
    margin-top: 0px;
  }
}
