@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 70px;
  position: relative;
}

.container .item {
  width: calc(100%/3);
  position: absolute !important;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container .item:nth-child(4) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container .item:nth-child(3) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container .item:nth-child(2) {
  -webkit-transform: translateX(75%) scale(1.2);
          transform: translateX(75%) scale(1.2);
  border: 5px solid #E9EDF7;
  padding: 30px 10px;
  margin-top: -5px;
}

.container .item:nth-child(1) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.container img {
  height: 400px;
  width: 100%;
}

.container .active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 5px solid #E9EDF7;
  padding: 30px 10px;
  margin-top: -30px;
}

@media (max-width: 767px) {
  .container {
    padding-top: 20px;
    height: 360px;
  }
  .container img {
    height: 220px;
  }
}
