@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.widget h4 {
  position: relative;
  margin-bottom: 20px;
  font-family: "Montserrat-Bold";
  font-size: 1.1rem;
  color: #160C28;
}

.widget h4::after {
  position: absolute;
  bottom: -9px;
  content: "";
  border-radius: 10px;
  width: 50px;
  left: 0;
  height: 5px;
  background: #fff;
}
