.widget h4 {
  position: relative;
  margin-bottom: 20px;
  font-family: "Montserrat-Bold";
  font-size: 1.1rem;
  color: #160C28;
}

.widget h4::after {
  position: absolute;
  bottom: -9px;
  content: "";
  border-radius: 10px;
  width: 50px;
  left: 0;
  height: 5px;
  background: #fff;
}
