*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: 0
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff") format("webfont");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("./fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("./fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Boli";
  src: url("./fonts/mv.ttf") format("truetype");
}
body{
  font-size: 16px;
  font-family: "Montserrat";
  background: #F9F9F9;
}
.App{
  position: relative;
}